a{
	text-decoration: none;
}

canvas{
	border: 1px solid black;
}

p{
	text-align: justify;
}

button{
	border-radius: 15px;
	width: 100px;
	height: 50px;
}

#atkBtn{
	color: white;
	background-color: red;
}

#defBtn{
	color: white;
	background-color: blue;
}

#speBtn{
	color: white;
	background-color: green;
}

body{
	text-align: center;
}

table{
	border-collapse: collapse;	
	position: fixed;
	top: 0px;
	left: 0px;
}

header{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin-top: 10%;
	font-size: 56px;
	color: whitesmoke;
}

.round{
	background-color: darkblue;
	border-radius: 100%;
	width: 25%;
	box-shadow: 0px 0px 15px black;

}

.start{
	margin: 2% 0% 5% 0%;
}

@keyframes button {
	25% {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}
	75% {
	  -webkit-transform: scale(0.9);
	  transform: scale(0.9);
	}
  }
  button{
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  button:hover, button:focus, button:active {
	-webkit-animation-name: button;
	animation-name: button;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
  }

footer{
	display: flex;
	justify-content: center;
}